.env
.env.staging
.env.production
.bundle
.tag*
/.bundle
/db/*.sqlite3
/db/*.sqlite3-journal
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep
.byebug_history
*.rdb
*.tfstate*
server.retry
config/*.key
public/uploads/
/public/packs
/public/packs-test
/node_modules
yarn-debug.log*
.yarn-integrity
public/assets
vendor/bundle
*.DS_Store
yarn-error.log
