<p>Welcome to the best gif tool in the world.</p>

<div id="composer">
  <%= form_for @video do |f| %>
    <div>
      <%= f.text_field :gif_url, placeholder: 'gif url' %>
      <img src="" id="gif">
    </div>

    <div>
      <%= f.text_field :youtube_url, placeholder: 'youtube url' %>
      <div id="youtube-video-frame">
        <iframe id="youtube-video" type="text/html" src=""></iframe>
      </div>
    </div>

    <%= f.submit 'make your thing' %>
  <% end %>
</div>
