<% if !@video.ready? %>
  <div id="video-fetcher" data-video-id=<%= @video.id %>>
    <p>Making your video. Hold tight!</p>
    <%= image_tag 'spinner.gif', class: 'spinner' %>
  </div>
<% end %>

<video id="video-player" autoplay loop>
  <% if @video.ready? %>
    <source src="/videos/<%= @video.id %>.mp4" type="video/mp4">
  <% end %>
</video>
