/*
 *= require_tree .
 *= require_self
 */

$white: #FFF;
$yellow: #FFEA50;

$light-pink: #ED7AFF;
$dark-pink: #A025B2;
$light-teal: #4DCCA7;
$dark-teal: #4CB295;

$light-blue: #6AEFFF;
$light-tan: #CCBB41;
$dark-tan: #B2A542;


html {
  font-family: 'Monaco', monospace;
  background-color: $light-pink;
  text-transform: lowercase;
  font-size: 16pt;
  font-weight: 600;
  letter-spacing: 1px;
  color: lighten($light-pink, 30);
}

h1 {
  a {
    color: $white;
    text-decoration: none;
  }
}

a {
  color: lighten($light-pink, 15);
}

#container {
  width: 30em;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

main {
  background-color: $white;
  color: $light-blue;
  padding: 1em;
  border: 15px solid lighten($light-pink, 22);
  margin-bottom: 2em;
}

footer {
  margin-bottom: 2em;
}
.spinner {
  width: 75px;
}

#video-player {
  width: 500px;
}
