server {
  listen 80;
  passenger_enabled on;
  root {{application_path}}/current/public;
  passenger_user deploy;
  passenger_group deploy;
  passenger_ruby /home/deploy/.rbenv/shims/ruby;
  passenger_env_var PATH ~/.rbenv/bin:/usr/bin:/bin;            
  {% for env_var in env_vars %}
  passenger_env_var {{ env_var|upper }} {{ env_vars[env_var] }};
  {% endfor %}
}

