[Unit]
Description=sidekiq
After=syslog.target network.target redis-server.service

[Service]
Type=simple
WorkingDirectory={{application_path}}/current
ExecStart=/home/deploy/.rbenv/shims/bundle exec sidekiq -e production
User=deploy
Group=deploy
UMask=0002

{% for env_var in env_vars %}
Environment={{ env_var|upper }}={{ env_vars[env_var] }}
{% endfor %}

RestartSec=1
Restart=on-failure

SyslogIdentifier=sidekiq

[Install]
WantedBy=multi-user.target
