@font-face {
  font-family: 'NewsCycle';
  src: font-url('newscycle-regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NewsCycle';
  src: font-url('newscycle-bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
