<!DOCTYPE html>
<html>
  <head>
    <title>ExportgifsoundCom</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <div id="container">
      <h1>ExportGifSound</h1>
      <%= yield %>
    </div>
  </body>
</html>
